<h2>Bonjour {{ user.pseudo }} !</h2>

<p>Si tu souhaites réinitialiser ton mot de passe. </p>
<a style="padding: 8px;color: white;text-decoration: none; background-color: indianred; border-radius: 15px;" href="{{ baseUrl }}{{ path('password_reset', {"token":token}) }}">Cliques-ICI</a>
<p style="color:indianred;">Si tu n'es pas à l'origine de cette requête, ne prends pas en compte ce mail.</p>